@CHARSET "ISO-8859-1";

html, body{
    width: 100%;
    height:100%;
    color: #fff;
    background-color: #000;
    text-align:center;

}
#header{
    font-size: 2em;
    font-family: Lucida Handwriting, comic sans, Tahoma;
    margin-bottom: 1%;
}
#footer{
    margin-top: 1%;
    font-size: 0.7em;
    color: #556677;
    font-family: tahoma;
}
#frame{
    font-family: tahoma;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
    max-width: 480px;
    max-height: 480px;
    position: relative;
}

#frame.red{
    border: solid 1px red;
}

#frame.red  div{
    border-right: solid 1px red;
    border-bottom: solid 1px red;
    border-color: red;
}

#frame.blue{
    border: solid 1px blue;
}
#frame.blue  div{
    border-right: solid 1px blue;
    border-bottom: solid 1px blue;
    border-color: blue;
}

#frame.green{
    border: solid 1px green;
}
#frame.green  div{
    border-right: solid 1px green;
    border-bottom: solid 1px green;
    border-color: green;
}

#frame.yellow {
    border:solid 1px yellow;
}

#frame.yellow  div {
    border-right:solid 1px yellow;
    border-bottom:solid 1px yellow;
    border-color: yellow;
}

#frame.violet{
    border:solid 1px violet;
}
#frame.violet  div{
    border-right:solid 1px violet;
    border-bottom:solid 1px violet;
    border-color: violet;
}

#frame.cyan{
    border:solid 1px cyan;
}
#frame.cyan  div{
    border-right:solid 1px cyan;
    border-bottom:solid 1px cyan;
    border-color: cyan;
}
#frame.orange{
    border:solid 1px orange;
}
#frame.orange  div{
    border-right:solid 1px orange;
    border-bottom:solid 1px orange;
    border-color: orange;
}
#frame.black{
    border:solid 1px black;
}
#frame.black > div{
    border-right:solid 1px black;
    border-bottom:solid 1px black;
}

#frame.white{
    border:solid 1px white;
}
#frame.white  div{
    border-right:solid 1px white;
    border-bottom:solid 1px white;
    border-color: white;
}

.ball{
    width:50%;
    height:50%;
    position:absolute;
    border-radius:50%;
}
.red > .ball{
    background-color: #050000;
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FF0000), to(#050000));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #FF0000 , #050000);
    /* Firefox 3.6+ */ 
/*    background: -moz-radial-gradient(circle, #FF0000, #050000); */
    background: -moz-radial-gradient(circle, #f00, #050000); 
    /* IE 10 */ background: -ms-radial-gradient(circle, #FF0000 , #050000);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */ 
    border: 0px !important;
}

.blue > .ball{
    background-color: #000005; 
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#0000FF), to(#000005));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #0000FF , #000005);
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #0000FF, #000005);
    /* IE 10 */ background: -ms-radial-gradient(circle, #0000FF , #000005);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
    border: 0px !important;
}

.green > .ball{
    /* fallback */ 
    background-color: #000500; 
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#00FF00), to(#000500));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #00FF00 , #000500);
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #00FF00, #000500);
    /* IE 10 */ background: -ms-radial-gradient(circle, #00FF00 , #000500);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
    border: 0px !important;
}

.yellow > .ball{
    /* fallback */ 
    background-color: #050500; 
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFFF00), to(#050500));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #FFFF00 , #050500);
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #FFFF00,#050500); 
    /* IE 10 */ background: -ms-radial-gradient(circle, #FFFF00 , #050500);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
    border: 0px !important;
}

.violet > .ball{
    /* fallback */ 
    background-color: #050005;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FF00FF), to(#050005));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #FF00FF , #050005);
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #FF00FF,#050005); 
    /* IE 10 */ background: -ms-radial-gradient(circle, #FF00FF , #050005);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
    border: 0px !important;
}

.cyan > .ball{
    /* fallback */ 
    background-color: #000505;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#00FFFF), to(#000505));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #00FFFF , #000505);
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #00FFFF,#000505); 
    /* IE 10 */ background: -ms-radial-gradient(circle, #00FFFF , #000505);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
    border: 0px !important;
}
.orange > .ball{
    /* fallback */ 
    background-color: #FF3C00;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFA500), to(#FF3C00));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #FFA500 , #FF3C00);
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #FFA500, #050100);
    /* IE 10 */ background: -ms-radial-gradient(circle, #FFA500 , #FF3C00);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
    border: 0px !important;
}
.black > .ball{
    /* fallback */ 
    background-color: #999999;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#999), to(#000));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #999 , #000);
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #999,#000); 
    /* IE 10 */ background: -ms-radial-gradient(circle, #999 , #000);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
    border: 0px !important;

}

.white > .ball{
    /* fallback */ 
    background-color: #999999;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fff), to(#000));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #fff , #000);
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #fff, #000); 
    /* IE 10 */ background: -ms-radial-gradient(circle, #fff , #000);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
    border: 0px !important;

}

/* hide irrelevant balls */
.default > .ball{
    display:none;
}

.one > .two, .one > .three, .one > .four{
    display:none;
}

.two > .three, .two > .four{
    display:none;
}
.three > .four{
    display:none;
}

/* for single ball */
.one > .one {
    left:35%;
    top:22%;
}

/* animations */
@keyframes rotate {
    from{
	transform:rotate(0deg);
    }
    to{
	transform:rotate(360deg);
    }
}
@-webkit-keyframes rotate{
 from{
	-webkit-transform:rotate(0deg);
    }
    to{
	-webkit-transform:rotate(360deg);
    }
}

@-ms-keyframes rotate{
 from{
	-ms-transform:rotate(0deg);
    }
    to{
	-ms-transform:rotate(360deg);
    }
}   



@keyframes rotate3 {
    from{
	transform:rotate(0deg);
    }
    to{
	transform:rotate(360deg);
    }
}
@-webkit-keyframes rotate3{
 from{
	-webkit-transform:rotate(0deg);
    }
    to{
	-webkit-transform:rotate(360deg);
    }
}   
@-ms-keyframes rotate3 {
    from{
	-ms-transform:rotate(0deg);
    }
    to{
	-ms-transform:rotate(360deg);
    }
}

/* animation for two balls */
.two > .one{
    left:35%;
    top: 7%;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 90%;
    -webkit-animation-timing-function: linear;

    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 90%;
    animation-timing-function: linear;

    -ms-animation-name: rotate;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 90%;
    -ms-animation-timing-function: linear;
}
.two > .two{
    left:35%;
    top: 43%;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 10%;
    -webkit-animation-timing-function: linear;

    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
    animation-timing-function: linear;

    -ms-animation-name: rotate;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 10%;
    -ms-animation-timing-function: linear;
}

/*animation for three balls */
.three .one{
    left:35%;
    top:0%;
    
    -webkit-animation-name: rotate3;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation-timing-function: linear;


    animation-name: rotate3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50% 100%;
    animation-timing-function: linear;

    -ms-animation-name: rotate3;
    -ms-animation-duration: 6s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 100%;
    -ms-animation-timing-function: linear;

}
.three .two{

    left:13%;
    top:37.5%;

    -webkit-animation-name: rotate3;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 97% 25%;
    -webkit-animation-timing-function: linear;

    animation-name: rotate3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 97% 25%;
    animation-timing-function: linear;

    -ms-animation-name: rotate3;
    -ms-animation-duration: 6s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 97% 25%;
    -ms-animation-timing-function: linear;

}

.three .three{
    left:56.6%;
    top:37.5%; 

    -webkit-animation-name: rotate3;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 3% 25%;
    -webkit-animation-timing-function: linear;

    animation-name: rotate3;
    animation-duration: 6s;
    animation-iteration-count:infinite;
    transform-origin: 3% 25%;
    animation-timing-function: linear;

    -ms-animation-name: rotate3;
    -ms-animation-duration: 6s;
    -ms-animation-iteration-count:infinite;
    -ms-transform-origin: 3% 25%;
    -ms-animation-timing-function: linear;

}

/* split animations */
@keyframes left {
    from{
    transform: translate(0%,0%);
    }
    to{
    transform: translate(-200%,0%);
    }
}
@-webkit-keyframes left{
 from{
	-webkit-transform: translate(0%,0%);
    }
    to{
	-webkit-transform: translate(-200%,0%);
    }
}

@-ms-keyframes left{
 from{
	-ms-transform: translate(0%,0%);
    }
    to{
	-ms-transform: translate(-200%,0%);
    }
}  

@keyframes right {
    from{
    transform: translate(0%,0%);
    }
    to{
    transform: translate(200%,0%);
    }
}
@-webkit-keyframes right{
 from{
	-webkit-transform: translate(0%,0%);
    }
    to{
	-webkit-transform: translate(200%,0%);
    }
}   

@-ms-keyframes right{
 from{
	-ms-transform: translate(0%,0%);
    }
    to{
	-ms-transform: translate(200%,0%);
    }
}   

@keyframes up {
    from{
    transform: translate(0%,0%);
    }
    to{
    transform: translate(0%,-200%);
    }
}
@-webkit-keyframes up{
 from{
	-webkit-transform: translate(0%,0%);
    }
    to{
	-webkit-transform: translate(0%,-200%);
    }
}   

@-ms-keyframes up{
 from{
	-ms-transform: translate(0%,0%);
    }
    to{
	-ms-transform: translate(0%,-200%);
    }
}   


@keyframes down {
    from{
    transform: translate(0%,0%);
    }
    to{
    transform: translate(0%,200%);
    }
}
@-webkit-keyframes down{
 from{
	-webkit-transform: translate(0%,0%);
    }
    to{
	-webkit-transform: translate(0%,200%);
    }
}   

@-ms-keyframes down{
 from{
	-ms-transform: translate(0%,0%);
    }
    to{
	-ms-transform: translate(0%,200%);
    }
}   




/* move top */
.split .one {
    top: 22%;
    left: 35%;
    
    -webkit-animation-name: up;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    animation-name: up;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function: linear;

    -ms-animation-name: up;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count:1;
    -ms-animation-timing-function: linear;
}

/* move right */
.split .two {
    top: 22%;
    left: 35%;
    
    -webkit-animation-name: right;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    animation-name: right;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function: linear;

    -ms-animation-name: right;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count:1;
    -ms-animation-timing-function: linear;
}

/* move down */
.split .three {
    top: 23%;
    left: 35%;
    
    -webkit-animation-name: down;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    animation-name: down;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function: linear;

    -ms-animation-name: down;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count:1;
    -ms-animation-timing-function: linear;
}

/* move left */
.split .four {
    top: 22%;
    left: 35%;
    
    -webkit-animation-name: left;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    animation-name: left;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function: linear;

    -ms-animation-name: left;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count:1;
    -ms-animation-timing-function: linear;
}

.top .one, .right .two, .down .three, .left .four{
    display: none;
}


h2{
	margin-top: 40%;
}

.leftwall{
    width: 25%;
    height: 100%;
    transform: skewY(-30deg);
    transform-origin: 0% 100%;
}

.topwall{
    width: 100%;
    height: 11%;
    position:absolute;
    top:-12%;
    left:1%;
    transform: skewX(-60deg);
    -webkit-transform: skewX(-60deg);
    -ms-transform: skewX(-60deg);
    transform-origin: 0% 100%;
    border: 1px solid red;
}

.rightwall{
    width: 25%;
    height: 100%;
    position:absolute;
    left:100%;
    top:0%;
    transform: skewY(-30deg);
    -webkit-transform:skewY(-30deg);
    -ms-transform:skewY(-30deg);
    transform-origin: 0% 100%;
    border: 1px solid red;
}

.bottomwall{
    width: 100%;
    height: 11%;
    position:absolute;
    left:1%;
    top:88%;
    transform: skewX(-60deg);
    -webkit-transform: skewX(-60deg);
    -ms-transform: skewX(-60deg);
    transform-origin: 0% 100%;
    border: 1px solid red;
}